.primary-outline:hover::before {
    background: transparent;
}

.primary-outline::before {
    transition: all 0.33s ease-in-out;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 2px;
    z-index: 2;
    background: linear-gradient(90deg, #483bc9 0%, #225fdd 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
