.pagination-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 50%;
  z-index: 2;
  background: linear-gradient(114deg, #483bc9 -0.12%, #8a58b7 99.77%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
}

.pagination-text {
  background: #483bc9;
  background: linear-gradient(to right, #483bc9 0%, #8a58b7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
