.text-gradient {
  background: #483bc9;
  background: linear-gradient(90deg, #483bc9 0%, #225fdd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.line-clamp-7 {
  -webkit-line-clamp: 7;
}
