.partner-slider .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.partner-slider .swiper-slide img {
    max-width: 100%;
}
